// Dark mode
.dark {
    filter: invert(1) hue-rotate(180deg);
    .categories img, video {
        filter: invert(1) hue-rotate(180deg);
    }
    .button-black {
        background-color: #302F2F !important;
    }
    footer.inverted {
        background-color: #191919 !important;
    }
    .inverted {
        filter: invert(1) hue-rotate(180deg);
    }
}

.border-dashed {
    border: 1px dashed black;
    border-radius: 5px;
    padding: 30px 100px;
}

.text-gray {
    color: rgba(0, 0, 0, 0.3);
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.mt-large {
    margin-top: 52%;
}

.text-black {
    color: black;
}

body {
    font-family: Urbanist !important;
    background: white;
}


h1, h2, h5 {
    color: black;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    color: black;
}

h5 {
    font-size: 18px;
}

.search {
    .control {
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 0;
    }
    input {
        height: 48px;
        padding: 12px 10px 12px 45px !important;
    }
    .icon {
        padding-left: 17px;
        padding-top: 5px;
    }
}

.b-btm {
    padding-bottom: 9px;
    border-bottom: 1px solid black;
    .input {
        box-shadow: none;
        border-radius: 0;
        border-color: transparent;
    }
}

label {
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

select {
    border-color: transparent !important;
    color: black;
}

.select:after {
  border-color: rgba(0, 0, 0, 0.3) !important;
}

.textarea {
    border-radius: 0;
    border: 1px solid black;
    resize: none;
}

input {
    font-weight: 600;
}

.p-sen {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.ci-box input { padding-left: 3.5rem !important}
.c-color {
    padding: 13px;
    margin-right: 8px;
    border-radius: 50%;
}

.tagsinput {
    .tag.is-active, .tag {
        background-color: whitesmoke;
        color: rgba(0, 0, 0, 0.4);
    }
    input {
        outline: none !important;
        width: 108px !important;
    }
    ::-webkit-input-placeholder {
         color: transparent;
    }
}

.category-title {
    line-height: 56px
}

.category-img {
    width: 100%;
    height: 144px;
}

.trash-icon {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 50%;
}

.tag {
    font-weight: 600;
    font-size: 12px !important;
    border-radius: 0 !important;
    color: rgba(0, 0, 0, 0.3) !important;
}

.custom-radio {
    input[type="radio"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid white;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-clip: content-box;
        padding: 3px;
    }

    input[type="radio"]:checked {
        background-color: black;
    }
}

.sub-tag {
    color: rgba(0, 0, 0, 0.8);
}

.m-btn {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 56px;
    color: black;
    background: transparent;
    border-radius: 0;
}

footer {
    p {
        color: white;
        opacity: 0.7;
        font-weight: 600;
        font-size: 12px;
    }
    a {
        color: white;
        font-weight: 600;
        font-size: 16px;
        padding-right: 48px;
    }
    .text-gray {
        color: #FFFFFF;
        opacity: 0.7;
    }
}

.padding-lrb {
    padding: 0 3rem 1rem 3rem;
}

.nav-screen {
    max-width: 87% !important;
}

.category-img-full {
    width: 198px;
    height: 144px;
}

.button-black {
    color: white;
    background-color: black;
    border-radius: 0;
    font-weight: 600;
    border-color: transparent;
    height: 56px;
    width: 100%;
    padding: 12px 82px;
    cursor: pointer;
}

.p-32 {
    padding: 32px;
}

.category-num {
    h2 {
        font-size: 80px;
        color: #000000;
        opacity: 0.3;
        line-height: 1;
    }
    label {
        color: #000000;
        opacity: 0.8;
    }
}

.btn-close {
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.tabs {
    margin-top: 2rem;
    ul {
        border-bottom-color: transparent;
        border-bottom-style: none;
        li {
            border-bottom-color: transparent;
            border-bottom-style: none;
            a {
                padding: 0 0 12px 0;
                margin-right: 48px;
                color: rgba(0, 0, 0, 0.3);
                font-weight: 600;
                font-size: 18px;
                border-bottom-style: none;
            }
        }
        li.is-active a {
            border-bottom: 2px solid black;
            color: black;
            padding: 0 0 12px 0;
            font-weight: 600;
            font-size: 18px;
        }
    }
}

.button-delete {
    color: #FF6363;
    border: none;
    background: transparent;
    height: 56px;
}

.transparent-btn {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    color: black;
    background-color: transparent;
    font-size: 16px;
    border-radius: 0;
    height: 56px;
}

.gray-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
    height: 56px;
    font-weight: 600;
}

.custom-dropdown {
    .dropdown {
        display: block;
        .dropdown-menu {
            padding-top: 0;
            top: 88%;
            position: unset;
            .dropdown-content {
                position: relative;
                border-radius: 0;
                box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 24%), 0 0px 0 1px rgb(10 10 10 / 2%);
                padding-top: 0;
                margin-top: -5px;
            }
        }
    }
}

.dropdown.is-fullwidth, .dropdown-trigger.is-fullwidth, .dropdown-menu {
    width: 100%;
}

.button-dropdown {
    border: none;
}

.site-logo {
    width: 112px;
    height: 112px;
    background-color: #f5f6f7;
}

.radio_button {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    input {
        position: absolute;
        left: -9999px;
        &:checked + span {
            background-color: transparent;
            &:before {
                box-shadow: inset 0 0 0 0.4375em #000000;
            }
        }
    }
    span {
        display: flex;
        align-items: center;
        padding: 0.375em 0.75em 0.375em 0.375em;
        border-radius: 99em;
        transition: 0.25s ease;
        &:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            background-color: #fff;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em rgba(0, 0, 0, 0.3);
        }
    }
}

@media(min-width: 1024px) {
    .navbar {
        .navbar-start, .navbar-end {
            .navbar-item {
                color: rgba(0, 0, 0, 0.3);
                display: block;
                padding-right: 36px;
            }
            .active {
                color: black;
            }
            .active::after {
                color: black;
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                border-bottom: 2px solid black;
            }
        }
    }
    .border-t-desktop {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }

    .border-l-desktop {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    .w-66 {
        width: 66%;
    }

    .justify-content {
        justify-content: space-between;
        padding-right: 1.5rem;
    }

    .category-page {
        label, p {
            font-size: 18px;
            line-height: 24px;
        }
        .category-page-img {
            margin: 25px 0;
        }
    }
    .category-num {
        img { padding-left: 1.5rem}
    }
    .mb-large {
        margin-bottom: 5rem;
    }

    .mb-xlarge {
        margin-bottom: 13rem;
        margin-top: 1.5rem;
    }
    .box-container {
        padding: 2rem;
    }
    .edit-link {
        margin-left: 2rem;
    }
    .modal {
        .modal-content {
            width: 480px;
        }
    }
    .inpt-search {
        width: 320.9px
    }
    .pl-none {
        padding-left: 0;
    }
    .fs-18-desktop {
        font-size: 18px;
    }
    .w-small {
        width: 240px !important;
    }
    .margin-post {
        margin-top: 5.5rem;
        margin-left: 3rem;
    }
    .margin-settings {
        margin-top: 6rem;
        margin-left: 3rem;
    }
    .margin-left-column {
        margin-left: 3rem;
    }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .w-full {
        width: 100%;
    }
    .w-small {
        width: 240px !important;
    }
}

@media(max-width: 1023px) {
    .tabs {
        ul {
            li {
                a {
                    margin-right: 24px;
                }
            }
        }
    }
    .edit-link {
        margin-left: auto;
    }
    .google-icon {
        margin-right: 1rem;
        width: 6%;
        height: 6%;
    }
    .category-num {
        h2 { line-height: 1.5}
        img { padding-left: 1rem}
    }
    .button-black {
        padding: 12px;
    }
    .nav-screen {
        max-width: none !important;
    }
    .columns.is-variable {
        --columnGap: 0;
    }
    .column {
        padding: 0;
    }
    .border-t {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
    .navbar-brand {
        padding: 0 24px;
    }
    .box-container {
        padding: 24px 23px 24px 24px;
        h2 {
            font-weight: 500;
        }
    }
    .mb-large {
        margin-bottom: 0rem;
    }
    .pagination {
        padding: 40px 0;
        width: 100%;
        .pagination-previous, .pagination-next, .pagination-link {
            border-color: transparent;
            color: rgba(0, 0, 0, 0.3);
            min-width: 0;
            font-size: 18px;
            font-weight: 600;
        }
        .pagination-link.is-current {
            background-color: transparent;
            color: black;
        }
    }
    .justify-content {
        justify-content: flex-end;
    }
    .category-img-full {
        height: 90px;
        width: 90px;
    }
    footer {
        padding: 24px 23px 50px 24px;
        a {
            padding-right: 7rem;
        }
        .f-margin {
            margin-top: 1.5rem;
        }
    }
    .px-mobile {
        padding: 0 24px;
    }
    .switch[type=checkbox] + label::after, .switch[type=checkbox] + label:after {
        width: 26px;
        height: 26px;
        top: 3px;
    }
    .switch[type=checkbox] + label::before, .switch[type=checkbox] + label:before {
        width: 56px;
        height: 32px;
        background: rgba(0, 0, 0, 0.3);
    }

    .switch[type=checkbox]:checked + label::before, .switch[type=checkbox]:checked + label:before {
        background: #78CB7C;
    }
}

@media(max-width: 736px) {
    .navbar {
        .navbar-menu {
            width: 100%;
            height: 100vh;
            box-shadow: none;
            padding: 23px;
            a {
                font-size: 32px;
                color: black;
                line-height: 1.7;
            }
            .logout {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }
    // Video Feed
    .feed {
        color: white;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(4px);

        .header_feed {
            padding: 19.5px 19.5px 40px 19.5px;
            img {
                border-radius: 50%;
            }
            h5 {
                font-size: 14px;
            }
        }

        .mid_feed {
            display: grid;
            min-height: 350px;
            background: transparent;
            img, video {
                margin: auto;
                width: 100%;
            }
            iframe {
                video { width: 100%;}
            }
            .play-btn {
                border-radius: 50%;
                border: none;
                top: 45%;
                right: 45%;
                padding: 17.5px 19px 17.5px 23px;
                position: absolute;
                background: rgba(255, 255, 255, 0.24);
                backdrop-filter: blur(4px);
            }
        }

        .btm_feed {
            padding: 40px 19.5px 19.5px 19.5px;
            h5 {
                font-size: 18px;
            }
            p {
                color: rgba(255, 255, 255, 0.8);
            }
            .options {
                border-top: 1.4px solid rgba(255, 255, 255, 0.2);
                padding: 20px 0;
                span, label {
                    font-weight: 600;
                    font-size: 12px;
                }
            }
            .text-desc, [class*="reaction-"], .field-reactions, .field-reactions:checked:focus ~ .text-desc {
              clip: rect(1px, 1px, 1px, 1px);
              overflow: hidden;
              position: absolute;
              top: -60px;
              left: 0;
            }

            .field-reactions:focus ~ .text-desc, .box:hover [class*="reaction-"], .field-reactions:checked ~ [class*="reaction-"] {
              clip: auto;
              overflow: visible;
              opacity: 1;
            }

            .main-title {
              background: #3a5795;
              padding: 10px;
              color: #fff;
              text-align: center;
              font-size: 16px;
              text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
            }

            .text-desc {
              font-weight: normal;
              text-align: center;
              transform: translateY(-50px);
              white-space: nowrap;
              font-size: 13px;
              width: 100%;
            }

            [class*="reaction-"] {
              border: none;
              background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yh/r/sqhTN9lgaYm.png);
              background-color: transparent;
              display: block;
              cursor: pointer;
              height: 52px;
              position: absolute;
              width: 52px;
              z-index: 11;
              transform-origin: 50% 100%;
              transform: scale(0.1);
              transition: all 0.3s;
              outline: none;
              will-change: transform;
              opacity: 0;
            }

            .box {
              position: relative;
              width: 75px;
              padding: 0;
              height: auto;
              box-shadow: none;
              background-color: transparent;
            }

            .overlay {
              position: fixed;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 9;
              visibility: hidden;
            }

            .field-reactions:focus ~ .label-reactions {
              border-color: rgba(88, 144, 255, 0.3);
            }
            .field-reactions:checked:focus ~ .label-reactions {
              border-color: transparent;
            }

            .label-reactions {
              display: block;
              height: auto;
              margin: 0 auto;
              width: 50px;
              color: white;
              cursor: pointer;
            }

            .toolbox {
              box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
              position: absolute;
              visibility: hidden;
              opacity: 0;
              transition: opacity 0.15s;
              left: -20px;
              top: -100px;
              width: 414px;
              height: 80px;
              border-radius: 0;
              background: rgba(0, 0, 0, 0.72);
              backdrop-filter: blur(4px);
            }
            .toolbox:after {
              content: '';
              border-top: 15px solid rgba(0, 0, 0, 0.72);
              border-left: 15px solid transparent;
              border-right: 15px solid transparent;
              margin-top: 79px;
              margin-left: 14px;
              position: absolute;
            }

            .legend-reaction {
              background: rgba(0, 0, 0, 0.75);
              border-radius: 10px;
              box-sizing: border-box;
              color: rgba(255, 255, 255, 0.64);
              display: inline-block;
              font-size: 11px;
              text-overflow: ellipsis;
              font-weight: bold;
              line-height: 20px;
              max-width: 100%;
              opacity: 1;
              overflow: hidden;
              padding: 0 6px;
              transition: opacity 50ms ease;
              left: 50%;
              position: absolute;
              text-align: center;
              top: 50px;
              transform: translateX(-50%);
            }

            .box:hover [class*="reaction-"] {
              transform: scale(0.8) translateY(-40px);
            }
            .box:hover [class*="reaction-"]:hover, .box:hover [class*="reaction-"]:focus {
              transition: all 0.2s ease-in;
              transform: scale(1) translateY(-35px);
            }
            .box:hover [class*="reaction-"]:hover .legend-reaction, .box:hover [class*="reaction-"]:focus .legend-reaction {
              opacity: 1;
            }
            .box:hover .toolbox {
              opacity: 1;
            }
            .box:hover .toolbox {
              visibility: visible;
            }
            .box:hover .reaction-love {
              transition-delay: 0.06s;
            }
            .box:hover .reaction-haha {
              transition-delay: 0.09s;
            }
            .box:hover .reaction-wow {
              transition-delay: 0.12s;
            }
            .box:hover .reaction-sad {
              transition-delay: 0.15s;
            }
            .box:hover .reaction-angry {
              transition-delay: 0.18s;
            }

            .field-reactions:checked ~ [class*="reaction-"] {
              transform: scale(0.8) translateY(-40px);
            }
            .field-reactions:checked ~ [class*="reaction-"]:hover, .field-reactions:checked ~ [class*="reaction-"]:focus {
              transition: all 0.2s ease-in;
              transform: scale(1) translateY(-35px);
            }
            .field-reactions:checked ~ [class*="reaction-"]:hover .legend-reaction, .field-reactions:checked ~ [class*="reaction-"]:focus .legend-reaction {
              opacity: 1;
            }
            .field-reactions:checked ~ .toolbox {
              opacity: 1;
            }
            .field-reactions:checked ~ .toolbox,
            .field-reactions:checked ~ .overlay {
              visibility: visible;
            }
            .field-reactions:checked ~ .reaction-love {
              transition-delay: 0.03s;
            }
            .field-reactions:checked ~ .reaction-haha {
              transition-delay: 0.09s;
            }
            .field-reactions:checked ~ .reaction-wow {
              transition-delay: 0.12s;
            }
            .field-reactions:checked ~ .reaction-sad {
              transition-delay: 0.15s;
            }
            .field-reactions:checked ~ .reaction-angry {
              transition-delay: 0.18s;
            }

            .reaction-like {
              left: 0;
              background-position: 0 -144px;
            }

            .reaction-love {
              background-position: 0 -192px;
              left: 57px;
            }

            .reaction-haha {
              background-position: 0 -96px;
              left: 112px;
            }

            .reaction-wow {
              background-position: 0 -288px;
              left: 169px;
            }

            .reaction-sad {
              background-position: 0 -240px;
              left: 224px;
            }

            .reaction-angry {
              left: 280px;
            }
        }
    }

    @media only screen
        and (device-width : 414px)
        and (device-height : 736px)
        and (-webkit-device-pixel-ratio : 3) {
            .feed {
                .btm_feed {
                    .reaction-love {
                      left: 63px;
                    }

                    .reaction-haha {
                      left: 127px;
                    }

                    .reaction-wow {
                      left: 190px;
                    }

                    .reaction-sad {
                      left: 255px;
                    }

                    .reaction-angry {
                      left: 320px;
                    }
                }
            }
        }

    // Row level components
    #row_level_components {
        .input_type, .button_type {
            padding: 0 24px 0 23px;
            margin-top: 3rem;
        }

        .dashboard, .collections {
            padding: 24px 23px 24px 24px;
        }

        .small-btn {
            padding: 12px 24px;
            width: 115px;
            height: 48px;
        }

        .list_row_type {
            font-weight: 600;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.4);
            padding: 0 8px;
            background: #F5F6F7;
            width: 51px;
            height: 24px;
            margin-right: 8px;
        }

        .add-new {
            padding: 20px;
        }

        .zip-modal {
            .modal-card {
                height: 100%;
                .modal-card-head{
                    background-color: white;
                    border-radius: 0;
                }
                .mt-50 {
                    margin-top: 50%;
                }
            }
            .modal-card,
            .modal-content {
                margin: 0 auto;
                max-height: calc(100vh - 0px);
                width: 100%;
            }
        }

        .modal-close::before, .delete::before, .modal-close::after, .delete::after {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .modal-background {
            background-color: rgba(10, 10, 10, 0.4);
        }

        .modal-close, .delete {
            width: 30px;
            height: 30px;
            max-height: 30px;
            max-width: 30px;
            background-color: transparent;
        }

        .upload-btns {
            background: #F5F6F7;
            color: rgba(0, 0, 0, 0.3);
            height: 56px;
            border-radius: 0;
            border: none;
        }

        button.text-gray {
            border: none;
        }

        progress.show-value {
          position: relative;
        }

        progress.show-value:after {
          content: attr(value)'% Uploaded';
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          font-size: 16px;
          font-weight: bold;
          line-height: 1rem;
          margin-top: 20px;
        }

        .tab-pane {
            display: none;
        }

        .arrow {
            height: 8px;
        }

        .c-fields {
            input {
                border: 0;
                box-shadow: none;
            }
        }

        .tab-pane.is-active {
            display: initial;
        }

        .category-img {
            width: 80px;
            height: 80px;
        }

        #comment-modal {
            .modal-card-head {
                display: block;
                background-color: white;
                border-radius: 0;
            }
            .profile-icon {
                border-radius: 50%;
            }
            .field {
                width: 100%;
                .textarea {
                    border: 0;
                    box-shadow: none;
                    width: 100%;
                    resize: none;
                }
            }
            .btn-reply {
                border: none;
                background-color: transparent;
            }
            .active-comment {
                background-color: #F1F4F8;
            }
        }
    }

    .navbar-burger span:nth-child(2) {
        top: calc(50% - -1px);
    }

    .navbar-burger span {
        height: 1.4px;
    }

    .num-posts {
        color: rgba(0, 0, 0, 0.3);
        font-size: 24px;
    }

    .category-page {
        h1 {
            font-weight: 600;
        }
        .category-page-img {
            width: 100%;
            height: 184px;
        }
    }

    .button.is-black, .button-delete {
        font-weight: 600;
        width: 100%;
        height: 56px;
        font-size: 16px;
        border-radius: 0;
    }

    .s-btn {
        width: 101px !important;
        height: 48px !important;
    }

    .notification, .notification-red {
        color: black;
        border-radius: 0;
        font-weight: 600;
    }

    .notification {
        background: #90E594;
    }

    .notification-red {
        background: #FF6363;
        padding: 16px;
    }

    .btn-sort {
        border: none;
        background-color: transparent;
        font-weight: 600;
    }

    footer {
        background-color: black;
        h3 {
            color: white;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}