.dark {
  filter: invert(1) hue-rotate(180deg);
}
.dark .categories img, .dark video {
  filter: invert(1) hue-rotate(180deg);
}
.dark .button-black {
  background-color: #302F2F !important;
}
.dark footer.inverted {
  background-color: #191919 !important;
}
.dark .inverted {
  filter: invert(1) hue-rotate(180deg);
}

#row_level_components .input_type, #row_level_components .button_type {
  padding: 0 24px 0 23px;
  margin-top: 3rem;
}
#row_level_components .dashboard, #row_level_components .collections {
  padding: 24px 23px 24px 24px;
}
#row_level_components select {
  border: none;
  color: black;
}
#row_level_components .select:after {
  border-color: rgba(0, 0, 0, 0.3) !important;
}
#row_level_components textarea {
  border-radius: 0;
  border: 1px solid black;
}
#row_level_components input {
  font-weight: 600;
}
#row_level_components .c-color {
  padding: 13px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: green;
}
#row_level_components .button-black {
  padding: 12px;
  height: 56px;
  color: white;
  background-color: black;
  border-radius: 0;
  font-weight: 600;
  border-color: transparent;
  width: 100%;
}
#row_level_components .small-btn {
  padding: 12px 24px;
  width: 115px;
  height: 48px;
}
#row_level_components .list_row_type {
  font-weight: 600;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0 8px;
  background: #F5F6F7;
  width: 51px;
  height: 24px;
  margin-right: 8px;
}
#row_level_components .radio_button {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
#row_level_components .radio_button input {
  position: absolute;
  left: -9999px;
}
#row_level_components .radio_button input:checked + span {
  background-color: transparent;
}
#row_level_components .radio_button input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #000000;
}
#row_level_components .radio_button span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
#row_level_components .radio_button span:hover {
  background-color: #d6d6d6;
}
#row_level_components .radio_button span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em rgba(0, 0, 0, 0.3);
}
#row_level_components .switch[type=checkbox] + label::after, #row_level_components .switch[type=checkbox] + label:after {
  width: 26px;
  height: 26px;
  top: 3px;
}
#row_level_components .switch[type=checkbox] + label::before, #row_level_components .switch[type=checkbox] + label:before {
  width: 56px;
  height: 32px;
  background: rgba(0, 0, 0, 0.3);
}
#row_level_components .switch[type=checkbox]:checked + label::before, #row_level_components .switch[type=checkbox]:checked + label:before {
  background: #78CB7C;
}
#row_level_components .tagsinput .tag.is-active {
  background-color: #f5f5f5;
}
#row_level_components .tagsinput input {
  outline: none !important;
  width: 108px !important;
}
#row_level_components .tagsinput ::-webkit-input-placeholder {
  color: transparent;
}
#row_level_components .transparent-btn {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  color: black;
  background-color: transparent;
  font-size: 16px;
  border-radius: 0;
  height: 56px;
}
#row_level_components .gray-btn {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0;
  height: 56px;
  font-weight: 600;
}
#row_level_components .button-delete {
  color: #FF6363;
  border: none;
  background: transparent;
  height: 56px;
}
#row_level_components .text-black {
  color: black;
}
#row_level_components .custom-dropdown .dropdown {
  display: block;
}
#row_level_components .custom-dropdown .dropdown .dropdown-menu {
  padding-top: 0;
  top: 88%;
  position: unset;
}
#row_level_components .custom-dropdown .dropdown .dropdown-menu .dropdown-content {
  position: relative;
  border-radius: 0;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.24), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding-top: 0;
  margin-top: -5px;
}
#row_level_components .dropdown.is-fullwidth, #row_level_components .dropdown-trigger.is-fullwidth, #row_level_components .dropdown-menu {
  width: 100%;
}
#row_level_components .add-new {
  padding: 20px;
}
#row_level_components .button-dropdown {
  border: none;
}
#row_level_components .site-logo {
  width: 112px;
  height: 112px;
  background-color: #f5f6f7;
}
#row_level_components .w-full {
  width: 100%;
}
#row_level_components .tabs ul {
  border-bottom-color: transparent;
  border-bottom-style: none;
}
#row_level_components .tabs ul li {
  border-bottom-color: transparent;
  border-bottom-style: none;
}
#row_level_components .tabs ul li a {
  padding: 0 0 12px 0;
  margin-right: 24px;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 18px;
  border-bottom-style: none;
}
#row_level_components .tabs ul li.is-active a {
  border-bottom: 2px solid black;
  color: black;
  padding: 0 0 12px 0;
  font-weight: 600;
  font-size: 18px;
}
#row_level_components .zip-modal .modal-card {
  height: 100%;
}
#row_level_components .zip-modal .modal-card .modal-card-head {
  background-color: white;
  border-radius: 0;
}
#row_level_components .zip-modal .modal-card .mt-50 {
  margin-top: 50%;
}
#row_level_components .zip-modal .modal-card,
#row_level_components .zip-modal .modal-content {
  margin: 0 auto;
  max-height: calc(100vh - 0px);
  width: 100%;
}
#row_level_components .modal-close::before, #row_level_components .delete::before, #row_level_components .modal-close::after, #row_level_components .delete::after {
  background-color: rgba(0, 0, 0, 0.3);
}
#row_level_components .modal-background {
  background-color: rgba(10, 10, 10, 0.4);
}
#row_level_components .modal-close, #row_level_components .delete {
  width: 30px;
  height: 30px;
  max-height: 30px;
  max-width: 30px;
  background-color: transparent;
}
#row_level_components .upload-btns {
  background: #F5F6F7;
  color: rgba(0, 0, 0, 0.3);
  height: 56px;
  border-radius: 0;
  border: none;
}
#row_level_components button.text-gray {
  border: none;
}
#row_level_components progress.show-value {
  position: relative;
}
#row_level_components progress.show-value:after {
  content: attr(value) "% Uploaded";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  line-height: 1rem;
  margin-top: 20px;
}
#row_level_components .tab-pane {
  display: none;
}
#row_level_components .arrow {
  height: 8px;
}
#row_level_components .c-fields input {
  border: 0;
  box-shadow: none;
}
#row_level_components .tab-pane.is-active {
  display: initial;
}
#row_level_components .category-img {
  width: 80px;
  height: 80px;
}
#row_level_components .category-img-full {
  height: 152px;
  width: 100%;
}

.b-btm {
  padding-bottom: 9px;
  border-bottom: 1px solid black;
}
.b-btm .input {
  box-shadow: none;
  border-radius: 0;
  border-color: transparent;
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - -1px);
}

.navbar-burger span {
  height: 1.4px;
}

.navbar-menu {
  width: 100%;
  height: 100vh;
  box-shadow: none;
  padding: 23px;
}
.navbar-menu a {
  font-size: 32px;
  color: black;
  line-height: 1.7;
}
.navbar-menu .logout {
  color: rgba(0, 0, 0, 0.3);
}

h1, h2, h5 {
  color: black;
}

h1 {
  font-weight: 600;
  font-size: 32px;
  color: black;
}

h5 {
  font-size: 18px;
}

.search .control {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 0;
}
.search input {
  height: 48px;
  padding: 12px 10px 12px 45px !important;
}
.search .icon {
  padding-left: 17px;
  padding-top: 5px;
}

.text-gray {
  color: rgba(0, 0, 0, 0.3);
}

.fs-14 {
  font-size: 14px;
}

.fs-18 {
  font-size: 18px;
}

body {
  font-family: Urbanist !important;
  background: white;
}

.box-container {
  padding: 24px 23px 24px 24px;
}
.box-container h2 {
  font-weight: 500;
}

.border-t {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

label {
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.p-sen {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.num-posts {
  color: rgba(0, 0, 0, 0.3);
  font-size: 24px;
}

.category-page h1 {
  font-weight: 600;
}
.category-page .category-page-img {
  width: 100%;
  height: 184px;
}

.pagination {
  padding: 40px 0;
}
.pagination .pagination-previous, .pagination .pagination-next, .pagination .pagination-link {
  border-color: transparent;
  color: rgba(0, 0, 0, 0.3);
  min-width: 0;
  font-size: 18px;
  font-weight: 600;
}
.pagination .pagination-link.is-current {
  background-color: transparent;
  color: black;
}

.button.is-black, .button-delete {
  font-weight: 600;
  width: 100%;
  height: 56px;
  font-size: 16px;
  border-radius: 0;
}

.s-btn {
  width: 101px !important;
  height: 48px !important;
}

.notification, .notification-red {
  color: black;
  border-radius: 0;
  font-weight: 600;
}

.notification {
  background: #90E594;
}

.notification-red {
  background: #FF6363;
  padding: 16px;
}

.btn-sort {
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.trash-icon {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 50%;
}

.tag {
  font-weight: 600;
  font-size: 12px !important;
  border-radius: 0 !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

footer {
  background-color: black;
  padding: 24px 23px 50px 24px;
}
footer h3 {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
footer p {
  color: white;
  opacity: 0.7;
  font-weight: 600;
  font-size: 12px;
}
footer a {
  color: white;
  font-weight: 600;
  font-size: 16px;
}
